<form action="/memos/<%= params[:id] %>" method="post" class="form-example">
  <div class="form-example">
    <label for="title">タイトル</label>
    <input type="text" id="title" name="title" value="<%= @title %>">
  </div>
  <div class="form-example">
    <label for="content">内容</label>
    <textarea name="content" id="content" cols="50" rows="5"><%= @content %></textarea>
  </div>
  <input type="hidden" name="_method" value="patch">
  <input type="submit" value="保存">
</form>
