<form action="/memos" method="post">
  <div>
    <label>タイトル</label><br>
    <input type="text" name="title">
  </div>
  <div>
    <label>内容</label><br>
    <textarea name="content" cols="50" rows="5"></textarea>
  </div>
  <input type="submit" value="保存">
</form>

<a href="/memos">メモ一覧に戻る</a>
