<form action="/memos" method="post" class="form-example">
  <div>
    <label for="title">タイトル</label>
    <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="content">内容</label>
    <textarea name="content" id="content" name="content" cols="50" rows="5"></textarea>
  </div>
  <input type="submit" value="保存">
</form>
