<p><%= escape_html(@memo['title']) %></p>
<p><%= escape_html(@memo['content']) %></p>

<a href="/memos/<%= params[:id] %>/edit">編集</a>

<form action="/memos/<%= params[:id] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="削除">
</form>

<a href="/memos">メモ一覧に戻る</a>
