<p><%= CGI.escapeHTML(@title) %></p>
<p><%= CGI.escapeHTML(@content) %></p>

<form action="/memos/<%= params[:id] %>/edit" method="get" class="form-example">
  <input type="submit" value="編集">
</form>

<form action="/memos/<%= params[:id] %>" method="post" class="form-example">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="削除">
</form>
